@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .title {
    h2 {
      font-size: 50px;
    }

    p {
      width: 65vh;
      font-size: 13px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .social {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .title {
    padding-top: 130px;

    h2 {
      width: 50vh;
      font-size: 40px;
    }

    p {
      width: 55vh;
      font-size: 10px;
    }
  }

  .buttonRight {
    .button a {
      font-size: 10px;
    }

    .right a {
      font-size: 10px;
    }
  }

  .sectionEnd {
    h2 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
      font-family: inter;
      color: #b4c7e7;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .links a {
    display: none;
  }

  .title {
    padding-top: 90px;

    h2 {
      width: 50vh;
      font-size: 30px;
    }

    p {
      width: 40vh;
      font-size: 8px;
    }
  }

  .descriptionImg {
    gap: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description {
    width: 50%;
  }

  .img {
    width: 30%;
  }

  .img img {
    width: 40vh;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .title h2 {
    font-size: 40px;
  }

  .img {
    display: none;
  }
}
