@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .descriptionSection {
    margin-top: 2%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .title {
    h2 {
      font-size: 50px;
    }

    p {
      width: 65vh;
      font-size: 13px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .linksButton {
    gap: 35px;
    display: flex;
    align-items: center;

    .links {
      gap: 20px;
      display: flex;

      a {
        font-size: 12px;
      }
    }

    .button a {
      font-size: 10px;
      padding: 7px 8px;
    }
  }

  .social {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .title {
    padding-top: 130px;

    h2 {
      width: 55vh;
      font-size: 40px;
    }

    p {
      width: 55vh;
      font-size: 10px;
    }
  }

  .buttonRight {
    .button a {
      font-size: 10px;
    }

    .button:hover {
    }

    .right a {
      font-size: 10px;
    }
  }

  .sectionEnd {
    h2 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
      font-family: inter;
      color: #b4c7e7;
    }
  }

  .img {
    width: 40%;
  }

  .img img {
    width: 45vh;
  }

  .infoImages {
    .img img {
      width: 40vh;
    }

    h3,
    h2 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }
  }

  .info {
    margin: 10px 0;
  }

  .info1 {
    margin-top: 8%;
  }

  .button1 {
    margin-top: 35px;

    a {
      font-size: 15px;
      padding: 5px 15px;
    }

    .descriptionSection {
      margin-top: 4%;
    }
  }

  .basliqParaqraf {
    p {
      margin: 25px 0;
      font-size: 13px;
    }
  }

  .users {
    h2 {
      font-size: 15px;
    }

    p {
      margin: 5px 0;
      font-size: 12px;
    }
  }

  .qrSocial {
    gap: 20px;
    padding: 10px 0 10px 10px;

    h4 {
      margin-top: 10px;
      font-size: 10px;
    }

    p {
      width: 30vh;
      margin-top: 10px;
      font-size: 10px;
    }

    img {
      width: 10vh;
    }
  }

  .descriptionSection {
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .links a {
    display: none;
  }

  .title {
    padding-top: 90px;

    h2 {
      width: 50vh;
      font-size: 30px;
    }

    p {
      width: 40vh;
      font-size: 8px;
    }
  }

  .descriptionImg {
    gap: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description {
    width: 50%;
  }

  .img {
    width: 30%;
  }

  .img img {
    width: 40vh;
  }

  .infoImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .infoImages {
    h3,
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 13px;
    }
  }

  .info {
    margin: 25px 0;
  }

  .info1 {
    margin-top: 13%;
  }

  .basliqParaqraf {
    p {
      width: 50vh;
      margin: 20px 0;
      font-size: 10px;
    }
  }

  .users {
    gap: 20px;
    display: flex;
    margin-bottom: 10px;

    h2 {
      font-size: 15px;
    }

    p {
      margin: 5px 0;
      font-size: 10px;
    }
  }

  .imagesDescriptions {
    .images {
      width: 100%;

      img {
        width: 40vh;
      }
    }
  }

  .qrSocial {
    gap: 20px;
    padding: 7px 0 7px 7px;

    h4 {
      margin-top: 8px;
      font-size: 8px;
    }

    p {
      width: 20vh;
      margin-top: 10px;
      font-size: 8px;
    }

    img {
      width: 9vh;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .title h2 {
    font-size: 40px;
  }

  .img {
    display: none;
  }

  .title {
    p {
      font-size: 11px;
      width: 60vh;
    }

    h2 {
      width: 55vh;
    }
  }

  .sectionEnd {
    gap: 55px;

    p {
      width: 13vh;
    }
  }

  .title2 h1 {
    display: flex;
    justify-content: flex-start;
  }

  .info {
    width: 25vh;
    margin: 20px 0;
  }

  .info1 {
    margin-top: 10%;
  }

  .pageLength {
    gap: 9px;
  }

  .imagesDescriptions {
    display: grid;
    grid-template-columns: 1fr;

    .images {
      width: 100%;

      img {
        width: 60vh;
      }
    }
  }

  .qrSocial {
    h4 {
      margin-top: 8px;
      font-size: 15px;
    }

    p {
      width: 25vh;
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .basliqParaqraf {
    p {
      width: 65vh;
      margin: 20px 0;
      font-size: 13px;
    }
  }

  .cart {
    display: none;
  }

  .button {
    display: none;
  }

  .bars {
    display: block;
  }
}
