* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/static/Inter_18pt-Light.ttf);
}

@font-face {
  font-family: cardo;
  src: url(../fonts/Cardo/Cardo-Regular.ttf);
}

@font-face {
  font-family: cardo-italic;
  src: url(../fonts/Cardo/Cardo-Italic.ttf);
}

header {
  background-color: #1b3764;
}

.bg-color {
  background-color: #1b3764;
}

.container {
  margin: auto;
  max-width: 1320px;
}

nav {
  height: 70px;
  display: flex;
  font-family: Inter;
  align-items: center;
  justify-content: space-between;
}

.logoSocial {
  gap: 30px;
  display: flex;
  align-items: center;

  .logo {
    gap: 10px;
    display: flex;
    text-align: center;

    img {
      width: 3vh;
    }

    a {
      color: white;
    }
  }

  .social {
    padding: 10px 20px;
    background-color: white;
  }
}

.linksButton {
  gap: 35px;
  display: flex;
  align-items: center;

  .links {
    gap: 30px;
    display: flex;

    a {
      color: white;
      font-size: 17px;
    }
  }

  .cart img {
    width: 4vh;
  }

  .button a {
    color: black;
    font-size: 15px;
    padding: 6px 8px;
    font-family: cardo;
    transition-duration: 0.5s;
    background-color: #ffca42;
    border: 1px solid #ffca42;
  }

  .button a:hover {
    border: 1px solid #ffca42;
    background-color: white;
  }
}

.descriptionImg {
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  width: 50%;
}

.img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.img img {
  width: 50vh;
  object-fit: contain;
}

.title {
  color: white;
  padding-top: 120px;

  h4 {
    font-family: cardo-italic;
  }

  h2 {
    font-size: 62px;
    margin-top: 10px;
    font-family: cardo;
  }

  p {
    width: 65vh;
    font-size: 15px;
    color: #b4c7e7;
    font-family: inter;
    margin: 20px 0 30px 0;
  }
}

.buttonRight {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr;

  .button a {
    color: black;
    font-size: 15px;
    padding: 6px 8px;
    font-family: cardo;
    transition-duration: 0.5s;
    border: 1px solid #ffca42;
    background-color: #ffca42;
  }

  .button a:hover {
    border: 1px solid #ffca42;
    background-color: white;
  }

  .right a {
    color: white;
    font-family: cardo;
    border-bottom: 1px solid white;
  }
}

.sectionEnd {
  display: grid;
  color: white;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;

  h2 {
    font-family: cardo;
  }

  p {
    font-size: 12px;
    color: #b4c7e7;
    font-family: inter;
    padding-bottom: 100px;
  }
}

.infoImages {
  display: flex;
  margin-bottom: 10%;

  .img {
    width: 100%;
  }

  .img img {
    width: 50vh;
  }

  h3,
  h2 {
    color: #1b3764;
  }

  p {
    font-size: 14px;
    color: #969aa0;
    font-family: inter;
  }
}

.info {
  margin: 30px 0;
}
.info1 {
  margin-top: 8%;
}

.title2 h1 {
  margin: 40px 0;
  color: #1b3764;
  font-family: cardo;
  text-align: center;
}

.pageLength {
  gap: 30px;
  display: flex;
  font-size: 12px;

  p {
    margin-top: 5px;
  }
}

.button1 {
  margin-top: 40px;

  a {
    color: #1b3764;
    padding: 10px 25px;
    transition-duration: 0.5s;
    border: 1px solid #ffca42;
  }
}

.button1 a:hover {
  border: 1px solid #ffca42;
  background-color: #ffca42;
}

.bgColor {
  background-color: #f4f8ff;
}

.imagesDescriptions {
  gap: 20px;
  display: flex;
  padding: 9% 0;
}

.images {
  width: 100%;

  img {
    width: 60vh;
  }
}

.descriptionSection {
  margin-top: 8%;
}

.basliqParaqraf {
  h2 {
    display: inline;
    color: #1b3764;
    font-family: cardo;
    border-bottom: 1px solid #ffca42;
  }

  p {
    margin: 28px 0;
    color: #969aa0;
    font-family: inter;
  }
}

.users {
  gap: 40px;
  display: flex;
  margin-bottom: 30px;

  h2 {
    color: #1b3764;
    font-family: cardo;
  }

  p {
    margin: 10px 0;
    color: #969aa0;
    font-family: inter;
  }

  .border {
    padding-right: 10px;
    border-right: 1px solid #ffca42;
  }
}

.qrSocial {
  gap: 25px;
  display: flex;
  padding: 15px 0 15px 15px;
  background-color: #1b3764;

  h4 {
    color: #ffca42;
    margin-top: 20px;
    font-family: cardo;
  }

  p {
    width: 40vh;
    color: #969aa0;
    margin-top: 20px;
    font-family: inter;
  }

  img {
    width: 15vh;
  }
}

.bars {
  display: none;
  cursor: pointer;
}

.basliqQutu {
  margin: 8% 0;
}

.qutular {
  gap: 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;

  .basliqlar1 img {
    width: 30vh;
  }

  h3 {
    margin: 20px 0;
    color: #1b3764;
  }

  p {
    width: 27vh;
    color: #969aa0;
  }
}

.bas h2 {
  margin: 60px 0;
  font-size: 35px;
  color: #1b3764;
  font-family: cardo;
  text-align: center;
}

.bg-color {
  background-color: #1b3764;
}

.infoImg {
  padding: 6% 0;
  display: flex;
  justify-content: space-between;
}

.leftInfo {
  margin-top: 10%;

  h2 {
    color: white;
    font-size: 35px;
    font-family: cardo;
  }

  p {
    width: 51vh;
    margin: 40px 0;
    color: #b4c7e7;
    font-family: inter;
  }

  a {
    color: white;
    padding: 8px 15px;
    font-family: cardo;
    border: 1px solid #ffca42;
  }
}

.imgRight img {
  width: 100%;
}
